@use "../../../index.scss" as index;

.div-logo {
  color: black;

  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: bold;

  .w {
    color: index.$red;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
  }
}
