button.default-btn {
  cursor: pointer;

  padding: 5px;
  margin: 10px;

  background-color: #d32323;
  color: white;
  border: none;
  border-radius: 5px;
}

button.default-btn:hover {
  box-shadow: 0 0 3px black;
}
