@use "../../../base.scss" as base;

div.user-info {
  cursor: default;

  height: 90%;
  width: 70%;

  display: flex;
  flex-direction: column;

  .field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      margin-right: 3px;
      border: none;
      outline: 1px solid base.$gray;
      font-size: 22px;
      border-radius: 3px;
      padding: 0 5px;
    }

    input:focus {
      outline: 2px solid base.$blue;
    }

    .submit {
      border: none;
      background-color: white;
    }

    .label {
      margin-right: 20px;
      font-family: "Amatic SC", cursive;
      font-size: 30px;
      font-weight: bold;
      color: base.$orange;
    }

    .value {
      font-size: 22px;
    }

    i {
      cursor: pointer;
      margin-left: 10px;
      font-size: 20px;
    }

    i:hover {
      color: base.$red;
    }

    i.fa-check:hover {
      color: base.$green;
    }
  }
}
