@use "../../base.scss" as base;

div.category-card:hover {
  box-shadow: 0 0 3px black;
  color: base.$red;
}

div.category-card {
  cursor: pointer;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid base.$gray;
  border-radius: 5px;

  padding: 5px;
  margin-bottom: 30px;

  width: 18vw;
  min-width: 200px;

  height: 18vw;
  min-height: 200px;

  i {
    padding-bottom: 15px;
  }

  .category-name {
    font-size: 18px;
    font-weight: bold;

    padding-top: 15px;
  }
}
