@use "../../index.scss" as index;

.footer {
  cursor: default;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: index.$red;

  width: 100%;
  height: 15px;

  padding-top: 7px;
  padding-bottom: 7px;

  p {
    color: white;
    font-weight: bold;

    padding: 0 15px;

    font-family: "Amatic SC", cursive;
    font-size: 18px;
    font-weight: bold;
  }

  p:hover {
    color: index.$orange;
  }

  .repo-link {
    a {
      color: white;
      font-weight: bold;

      font-family: "Amatic SC", cursive;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .repo-link:hover {
    a {
      color: index.$green;
    }
  }

  .personal-info {
    display: flex;
    align-items: center;

    p {
      padding-right: 4px;
    }

    i {
      color: white;

      font-size: 18px;

      padding: 0 4px;
    }

    i:hover {
      color: index.$blue;
    }
  }
}
