@use "../../index.scss" as index;

div.review-feed-item {
  cursor: default;

  display: flex;
  flex-direction: column;
  padding: 10px;

  margin: 10px 0;

  outline: 1px solid index.$gray;

  .name-tag {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    p {
      margin-left: 10px;
      font-weight: bold;
      font-size: 19px;
    }
  }

  .rating-bar {
    margin-bottom: 10px;
  }

  .body {
    margin-bottom: 10px;
    overflow-wrap: break-word;
  }
}
