$blue: #4990e2;
$gray: #d3d3d3;
$green: #00ac82;
$lgray: #dcdcdc;
$orange: #e29b49;
$red: #d32323;

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
}
