@use "../../index.scss" as index;

.nav-bar-div {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid index.$gray;
  padding: 8px 0;

  a.nav-logo {
    padding-left: 20px;

    text-decoration: none;
  }

  .profile-button-div {
    margin-right: 20px;

    .icon-div {
      cursor: pointer;
    }

    .icon-div:hover {
      i {
        background-color: index.$red;
      }
    }
  }

  .logged-out {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 20px;

    p {
      cursor: pointer;
      margin-right: 10px;
      font-size: 13px;
    }

    p:hover {
      color: index.$blue;
      font-weight: bold;
    }
  }
}
