.nav-bar-div {
  position: sticky;
  top: 0;
  width: 100%;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
  padding: 15px 0;

  a.nav-logo {
    padding-left: 20px;

    text-decoration: none;
  }

  .profile-button-div {
    padding-right: 20px;

    button {
      cursor: pointer;

      i {
        font-size: 20px;
        padding: 3px;
      }
    }

    .profile-dropdown {
      background-color: white;
      border: 1px solid black;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      position: absolute;
      right: 8px;
      top: 50px;

      padding: 10px;
    }

    .hidden {
      display: none;
    }
  }
}
